*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.App {
  background: linear-gradient(to right, #C6FFDD, #fbd786,#f7797d);
  width: 25rem;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 5px 10px 20px 25px rgba(0,0,0,0.2);
}

h1 {
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 20px;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  margin: 15px;
  font-size: 2rem;
  color: black;
  border: 3px solid gray;
}

input,
button {
  border-radius: 5px;
  font-size: 20px;
  padding: 8px;
  text-align: center;
}

input {
  display: block;
  margin-left: 2rem;
  margin-bottom: .9rem;
  margin-top: 1.5rem;
}

button {
  border: 1px solid gray;
  background: whitesmoke;
  margin: .2rem;
}

button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
}
